{% extends 'layout.html' %}

{% block body %}
    <h1>About Me</h1>
    <p>I am an accomplished Engineer in both Dev and Ops fields, and I enjoy using my skills to contribute to the exciting technological advances that happen every day at the Organisation. Most of my works include Software development, Cloud infrastructure developments & maintenance, and Core linux administration. I’ve played a vital role in few crucial projects in the organization for architecting a Development, Testing and Production environments in the cloud. sI did my masters in “Electrical Engineering with Emphasis in Telecommunications" at “Blekinge Institute of Technology”. My areas of expertise is in core networking concepts and also most of my research and projects include performance evaluations of networks during the distribution of data packets at various communication protocol layers.</p>
{% endblock %}
