{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
<h1>Welcome!</h1>
<p class="lead">Welcome to my blog! My name is Bharani Kumar Yedla, and I am an Infrastructure Developer and Security Master. I have a passion for technology and a drive to constantly improve my skills in the field. </p>
<p class="lead">Through this blog, I aim to share my experiences and insights gained throughout my journey. My goal for this blog is to provide a platform to showcase my projects and share the knowledge I have gained with others. </p>
<p class="lead">I believe that sharing knowledge is key to building a strong community and advancing in the field of technology. In this blog, you will find articles on various projects that I have undertaken, along with detailed explanations and step-by-step guides on how I completed them. I will also share my thoughts on various topics related to technical and non-technical areas. </p>
<p class="lead">I hope that you find my blog informative, engaging, and useful. If you have any questions or comments, feel free to reach out to me. Thank you for visiting my blog, and I look forward to sharing my journey with you!</p>
</div>
{% endblock %}
